.form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.button {
   background-color: rgba(114,132,168, .5);
   border-radius: 10px;
   border-width: .5px;
   border: none;
   box-shadow: 3px 1px 13px 2px rgba(27, 27, 58, 0.6);
   padding: 10px;
   transition: all .2s ease-in-out;
   font-family: Raleway;
   font-weight: bold;
}

.button:hover {
   cursor: pointer;
   transform: scale(1.1);
}


.title {
   font-family: Raleway;
}

.recipe-title {
   margin-bottom: -20px;
}

.inputBox {
   border-color: #ffffff;
   border-radius: 5px;
}

label {
   font-family: Raleway;
}

option {
   font-family: Raleway;
}


fieldset {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 25px;
   width: 250px;
   justify-self: center;
   align-self: center;
   background-color: rgba(114,132,168, .5);
   box-shadow: 3px 8px 13px 2px rgba(27, 27, 58, 0.6);
   border: none;
   margin: 75px;
}

.multiselect {
   width: 185px;
   margin: 20px;
 }
 
 .selectBox {
   position: relative;
   border-color: #ffff;
   border-radius: 5px;
}
 
 .selectBox select {
   width: 100%;
 }


 #checkboxes1 {
    display: flex;
    flex-direction: column;
    border: 1px #dadada solid;
    height: 150px;
    overflow: scroll;
    border-radius: 20px;
 }
 
 
 #checkboxes2 {
   display: flex;
   flex-direction: column;
   border: 1px #dadada solid;
   height: 150px;
   overflow: scroll;
   border-radius: 20px;
 }
 
