.popup {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 40px 50px;
    background-color: rgba(114, 132, 168, 1);
    box-shadow: 3px 8px 13px 2px rgba(27, 27, 58, 0.6);
    border-radius: 25px;
    width: 800px;
    height: 500px;
    color: white;
    font-family: Raleway;
}

.center {
    text-align: center;
}

a {  
    text-decoration: none;  
    color: navy;  
}

.close {
    color: white;
    font-size: 70px;
    position: absolute;
    right: 30px;
    top: 0;
}

.recipe {
    color: white;
    margin: 20px;
    width: 250px;
    height: 280px;
    border-radius: 15px;
    background-color: rgba(114, 132, 168, 0.8);
    box-shadow: 3px 8px 13px 2px rgba(27, 27, 58, 0.6);
}

.recipe-pic {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 13px;
    position: absolute;
    bottom: 20px;
    transform: translate(-50%, 0%);
}

.recipe-pic-popup {
    border-radius: 10px;
}

.recipe-box {
    position: relative;
    width: 250px;
    height: 280px;
}

.column {
    float: left;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    align-items: center;
}